# Environment
.env

# Java
build/
target/
out/
*.class
*.jar
*.war
.gradle/


# Python
__pycache__/
*.pyc
.venv/
venv/

# Go
bin/
pkg/

# Javascript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# IDE
.idea/
